<!DOCTYPE html>
<html>
<head>
    {{{head}}}
    <script>
        $(document).ready(function(){
            new Geta.SG.Main($('body'), {
                heading: '{{heading}}',
                data: {{#json category.components}}{{/json}},
                imageResolver: function(path){ return '/' + path; }
            });
        });
    </script>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
<main>
    <div class="sg-layout">
        {{{header}}}
        <nav data-sg-component-nav class="sg-component-nav">
            <ul>
                {{#each category.components}}
                    <li>
                        <a href="#!{{id}}">{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </nav>
        <div class="markdown-body sg-category-documentation">
            {{{category.html}}}
        </div>
        <div data-sg-layout-components></div>
    </div>
</main>
</body>
</html>